{% extends "base.html" %}
{% block title %}my information{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>My Information</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4 text-right"><span>Username</span></div>
                    <div class="col-md-8 text-left">{{ user.username }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Email：</span></div>
                    <div class="col-md-8 text-left">{{ user_form.email }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Birth：</span></div>
                    <div class="col-md-8 text-left">{{ userprofile_form.birth }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Phone：</span></div>
                    <div class="col-md-8 text-left">{{ userprofile_form.phone }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Graduated School：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo_form.school }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Company：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo_form.company }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Profession：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo_form.profession }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Address：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo_form.address }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right"><span>Aboutme：</span></div>
                    <div class="col-md-8 text-left">{{ userinfo_form.aboutme }}</div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <p>Picture</p>
        </div>
    </div>
</div>
{% endblock %}