{% extends "base.html" %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>
        {{ article.title }}
    </h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <p class="text-center">
                <span>
                    {{ article.author.username }}
                </span>
                <span style="margin-left:20px">
                    {{ publish }}
                </span>
            </p>
        </div>
        <div>
            {{ article.body }}
        </div>
        <div class="col-xs-6 col-md-4">
            <p>If there're any mistakes, please contact me.</p>
            <p>
                <a href="http://david-xyf.github.io">My Personal Page</a>
            </p>
            <img alt="lmy" src="//tvax2.sinaimg.cn/thumbnail/006FvEObgy1gkntdxzn2pj34h62zgqv5.jpg">
        </div>
    </div>
</div>
{% endblock %}