{% extends "base.html" %}
{% block title %}
blog titles
{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>My blog</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
            <li><a href="{{ blog.id }}"></a>{{ blog.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>
            If there're any mistakes, please contact me.
        </h2>
        <p>
            <a href="http://david-xyf.github.io">My Personal Page</a>
        </p>
        <img alt="lmy" src="//tvax2.sinaimg.cn/thumbnail/006FvEObgy1gkntdxzn2pj34h62zgqv5.jpg">
    </div>
</div>
{% endblock %}